<style>

html {
  scrollbar-gutter: stable;
}

@font-face {
  font-family: 'PyeojinGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'PyeojinGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'PyeojinGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

.header .container {
  display: flex;
  justify-content: flex-end;
}

.header .list--nav {
  justify-content: flex-end;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #d63384;
  backdrop-filter: blur(8px);
}

.profile-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.career-box {
  display: block;
  padding: 1rem 3rem;
  margin: 1.5rem 0;
  border-radius: 16px;
  background: #ffeaf8;
}

.career-box summary::after {
  content: "▸";
  margin-left: 0.5rem;
}

.career-box[open] summary::after {
  content: "▾";
}

.career-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.intro-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.intro-text {
  margin: 0;
  font-size: 1rem;
}

body,
.typeset,
.header,
.nav a,
summary,
h1, h2, h3, h4, h5, h6{
  font-family: 'PyeojinGothic', sans-serif !important;
}

.typeset a,
.nav a,
.toc a {
  color: #ffebf5;
}

</style>
